/**
 * Created by luoshuo on 14/12/4.
 */

.navbar {
    background: #ff6600;
    border-bottom: none;
    color: #fff;
}
.statusbar-overlay {
    background: #ff6600;
}

.panel{
    width:130px;
    background: #000;
}
.ion-ios-list{
}

body.with-panel-left-reveal .views{
    -webkit-transform:translate3d(130px, 0, 0);
    -ms-transform:translate3d(130px, 0, 0);
    transform: translate3d(130px, 0, 0);
}

.my-list {
    margin: 0;
}
.my-list ul {
    border: none;
}
.my-list .item-title {
    font-weight: normal;
    color: #006699;
    white-space: normal;
}
.my-list .item-subtitle {
    font-size: 14px;
    color: #555;
}
.my-list .item-text {
    font-size: 14px;
    height: auto;
    -webkit-line-clamp: auto;
    white-space: nowrap;
}
.my-list .badge {
    border: 1px solid #ff6600;
    color: #ff6600;
    background: none;
    min-width: 30px;
    text-align: center;
    line-height: 20px;
    display: block;
    position: relative;
}
.my-list .badge:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    bottom: -3px;
    border-left: 0px solid transparent;
    border-right: 4px solid transparent;
    border-top: 3px solid #ff6600;
}
.my-list .item-link.active-state {
    background: #e7e7e7;
}
.my-list.media-list .item-link .item-title-row {
    padding-right: 0;
    background: none;
}

.topcategory{
    height:45px;text-align: center;line-height: 45px;
    background: #ff6600;
    color:#fff;
}

.topcategory a{
    color:#fff;
}

/**slide**/
.slider-slide {
    background:#000;
    height:200px;
    margin:0;
}
.slider-slide img {
    width:100%;
}

.slider-prev-button, .slider-next-button {
    position: absolute;
    width:44px;
    background: rgba(0,0,0,0.1);
    top: 50%;
    margin-top: -22px;
    line-height: 44px;
    text-align:center;
}
.slider-prev-button {
    left:0;
}
.slider-next-button {
    right:0;
}
.slider-pagination-bullet {
    width: 10px;
    height: 10px;
    background: none;
    border:1px solid #aaa;
    border-radius: 0 0 0 0;
    opacity:1;
    cursor: pointer;
}
.slider-pagination-active {
    background: #007aff;
    border-color: #007aff;
}

/**按钮状态**/
.col-20 a{display: block;}
.col-20 {
    color: red;
}
/* Active/tapped state */
.col-20.active-state {
    color: blue;
}


.item-icon{
    text-align: right;
}

i.video-icon{
    width:16px;
    height:12px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16' viewBox='0 0 32 32'><g id='icomoon-ignore'></g><path d='M0 4v24h32v-24h-32zM6 26h-4v-4h4v4zM6 18h-4v-4h4v4zM6 10h-4v-4h4v4zM24 26h-16v-20h16v20zM30 26h-4v-4h4v4zM30 18h-4v-4h4v4zM30 10h-4v-4h4v4zM12 10v12l8-6z' fill='#f00'></path></svg>");
}

/**content**/
.news-video{
    text-align: center;
}
.news-video video{
    margin:0 auto;
}

.news-header {

    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 15px;
    background: #fff;
}
.news-title {
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    max-height: 44px;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
}
.news-info {
    color: #8e8e93;
}
.content-block{margin:0;}
.news-body{
    font-size:17px;
    margin-top:0;
}
.news-body img{
    max-width: 100%;
}
